{% extends "ApachecmsFrontendBundle::layout_lp.html.twig" %}
{% block stylesheet %} 
{{ parent() }}
{% endblock %}
{% block body %}
{{ include('ApachecmsFrontendBundle::_partials/brand.html.twig') }}
{% block headerPage %}
{% include 'ApachecmsFrontendBundle:_partials:breadcrumbs.html.twig' %}
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{ include('ApachecmsFrontendBundle::Account/_partials/menu.html.twig') }}
        </div>
        <div class="col-md-9">
            <div class="card">
                <h2 class="card-header">
                    {{ (app.request.attributes.get('_route_params')['_breadcrumbs']|last)['label'] | trans }}
                </h2>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="queries_dataTable" class="display nowrap table table-striped table-bordered" cellspacing="0" width="100%"></table>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %} 
{{ parent() }}
<script src="{{ asset('bundles/apachecmsbackend/assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script>
    $.extend( true, $.fn.dataTable.defaults, {
        dom: 'Bfrtip',
        ajax: "{{ path('apachecms_api_account_getContacts')}}",
        pageLength: 15,
        lengthMenu: [15, 25, 50],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json'
        },
        buttons: [
           
        ],
    });
    $(function () {
        $('#queries_dataTable').DataTable({
            order: [[ 0, 'desc' ]],
            columns: [
                { title:"{{ 'Nombre' | trans }}",data: "name" },
                { title:"{{ 'Email' | trans }}",data: "email" },
                { title:"{{ 'Teléfono' | trans }}",data: "phone" },
                { title:"{{ 'Landing' | trans }}",data: "landing.name" },
                {# {
                    data: null,
                    orderable: false,
                    className: "text-right",
                    render: function (data, type, JsonResultRow, meta) {
                        return `
                            <button type="button" class="btn-view btn btn-sm btn-outline-primary btn-circle"><i class="fa fa-eye"></i></button>
                            `;
                    }
                } #}
            ]
        });
    });
</script>
{% endblock %}