
{% extends "ApachecmsFrontendBundle::layout_basic.html.twig" %}
{% block body %}

    {{ include('ApachecmsFrontendBundle::_partials/brand.html.twig') }}

{#https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/#}

    <main role="main">


        <div class="album py-2 bg-light">

            <div class="container">
                {% for industry in industries %}
                    <h1>{{ industry.name }}</h1>
                    {% for country in countries %}
                        <a style="margin: 5px;" class="btn btn-rounded btn-secondary" href="{{  url('apachecms_frontend_landings_nav',{'industry': industry.id,'industry_name': industry.name|url_encode,'country': country.id,'country_name':country.name|url_encode,'page':1}) }}"  > {{ industry.name }} - {{ country.name }} </a>
                    {% endfor %}
                    <hr/>
                {% endfor %}
            </div>
            <div class="row center-block justify-content-center">
                <div>
                    <a href="{{ url('apachecms_frontend_landings_all') }}" class="btn btn-primary">Ver todas las LandPages por Industrias y Paises</a>
                </div>
                <div style="margin-left: 10px">
                    <a href="{{ url('apachecms_frontend_landings_home') }}" class="btn btn-warning">Últimas LandPages</a>
                </div>
            </div>

    </main>
    <div>

    </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock javascripts %}