	{% extends "ApachecmsBackendBundle::Emails/layout.html.twig" %}
{% block body %}
<h2>{{ 'hello' | trans }} {{ entity.firstName }}! ¿Olvidaste tu contraseña? </h2>
<p>{{ 'forgot.step' | trans }} 
    {% if resetUrl is defined and resetUrl is not null %}
    {# <a href="{{ resetUrl }}/{{ entity.id }}/{{ entity.codeActive }}"> #}
    <a href="{{ url(resetUrl,{ id : entity.id, code : entity.codeActive}) }}">
    {{ 'reset.password' | trans }} 
    </a>
    {% else %}
    <a href="{{ url('security_reset_password',{ id : entity.id, code : entity.codeActive}) }}">
    {{ 'reset.password' | trans }}
    </a>
    {% endif %}
</p>
{% endblock %}