{% extends "ApachecmsBackendBundle::layout.html.twig" %}
{% block body %} 
{{ parent()}}  
    {% if entity.islocked %}        
    <div class="card card-danger">
        <h2 class="card-header bg-danger text-white text-center">
            Cuenta bloqueada
        </h2>
        
        <div class="card-body text-center">
            {% if entity.lockedType == 'other' %}
            <h4>{{ entity.lockedDescription | nl2br }}</h4>
            {% elseif entity.lockedType == 'not_validate'%}
            <h4>Motivo: {{ entity.lockedDescription | trans }}</h4>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="form-body">
        <h3 class="card-title">Datos generales
            <button type="button" class="btn btn-success btn-rounded pull-right" onclick="manualPay()"><i class="fa fa-usd"></i> Extender vencimiento</button>
        </h3>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Nombre</label>
                    <p>{{ entity.firstName }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Apellido</label>
                    <p>{{ entity.lastName }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Teléfono</label>
                    <p>{{ entity.phone }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Email</label>
                    <p>{{ entity.email}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Proveedor</label>
                    <p>
                    {% if entity.facebookId %}
                        Facebook
                    {% elseif entity.googleId %}
                        Google
                    {% else %}
                        Email
                    {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Documento</label>
                    <p>{{ entity.document }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Nombre de la empresa</label>
                    <p>{{ entity.businessName }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>País</label>
                    {% if entity.country is not null %}
                        <p>{{ entity.country.name }}</p>
                    {% else %}
                        <p>N/E</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>CUIT</label>
                    <p>{{ entity.businessCuit}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Dirección</label>
                    <p>{{ entity.businessAddress}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Url </label>
                    <p>{{ entity.usernameUrl}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Email validado </label>
                    <p><b>{% if entity.isValidate %}SI{% else %}NO{% endif %}</b></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Creado </label>
                    <p>{{ entity.createdAt | date('d/m/Y H:i')}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Bloqueado </label>
                    <p><b>{% if entity.isLocked %}SI{% else %}NO{% endif %}</b></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group ">
                    <label>Motivo de bloqueo </label>
                    {% if entity.lockedType == 'other' %}
                    <p>{{ entity.lockedDescription | nl2br }}</p>
                    {% elseif entity.lockedType == 'not_validate'%}
                    <p>{{ entity.lockedDescription | trans }}</p>
                    {% endif %}
                </div>
            </div>
            
        </div>
        <h3 class="card-title">Cuenta</h3>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Plan</label>
                    {% if entity.plan %}
                        <p>{{ entity.plan.nameEs }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Trial</label>
                    {% if entity.plan %}
                    <p><b>{% if entity.useTrial %}SI{% else %}NO{% endif %}</b></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Vencimiento</label>
                    <p>{{ entity.expirationPlan | date('d/m/Y H:i') }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label>Saldo</label>
                    <p>$ {{ entity.balance | number_format('2',',','.') }}</p>
                </div>
            </div>
        </div>
        <h3 class="card-title m-t-20">Imágenes</h3>
        <hr>
        <div id="files" class="files row">
            {% for file in entity.files %}
            <div class="col-sm-3" style="margin-bottom:15px; margin-top:15px;" >
                <div class=" cover img-thumbnail" style="height:150px; background-image:url('{{ web_image('uploads/or/' ~ file.name).resize('300') }}')"></div>
            </div>
            {% endfor %}
        </div>
        <h3 class="card-title m-t-20">Landings</h3>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Empresa</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for landing in entity.landings %}
                    <tr>
                        <td>{{ landing.title }}</td>
                        <td>{{ landing.business.name }}</td>
                        <td>{{ landing.status }}</td>
                        <td><a target="_blank" href="{{ path('apachecms_backend_landings_view',{ id: landing.id })}}" role="button" title="Ver" class="btn-view btn btn-outline-info btn-circle"><i class="fa fa-eye"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h3 class="card-title m-t-20">Empresas</h3>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Industria</th>
                        <th>Email de contacto</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                {% for business in entity.business %}
                    <tr>
                        <td>{{ business.name }}</td>
                        <td>{{ business.industry.name }}</td>
                        <td>{{ business.email }}</td>
                        <td>{{ business.phone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="form-actions btn-group">
        <button type="button" class="btn btn-inverse" onclick="javascript:history.back(-1)">Volver</button>
        {% if not entity.isLocked %}
            <button type="button" class="btn btn-danger btn-refuse"> <i class="fa fa-remove"></i> Bloquear</button>
        {% else %}
            <button type="button" class="btn btn-success btn-approve"> <i class="fa fa-check"></i> Habilitar</button>
        {% endif %}
    </div>
    <div class="modal fade" id="modalReject" tabindex="-1" role="dialog" aria-labelledby="modalChatsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title text-center" >Bloquear cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <textarea id="reason_for_rejection" class="form-control" style="height:150px;" placeholder="Ingrese el motivo del rechazo"></textarea>
                        <small>Se le enviará un email al cliente indicando el motivo del bloqueo.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" onclick="sendReject()" data-dismiss="modal" >Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block javascripts %} 
{{ parent() }}
<script>
    function manualPay(){
        swal({
            title: "Extender vencimiento",
            text: "Ingrese la cantidad de días que desea sumar al vencimiento actual",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: false,
            inputPlaceholder: "",
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Aceptar",   
            cancelButtonText: "Cancelar",
        }, function (inputValue) {
            if (inputValue === false) return false;
            if (inputValue === "") {
                swal.showInputError("Debe ingresar un número de días válido");
                return false
            }
            swal.close()
            $(".preloader").fadeIn();
            $.post("{{ path('apachecms_backend_customers_extend')}}", { "days": inputValue, "customer":'{{ entity.id }}' }, function (result) {
                
                if (result.response == true) {
                   location.reload();
                }else{
                    $(".preloader").fadeOut();
                    swal({
                        title: "{{ 'ERROR' | trans  }}",
                        text: result.errors[0].message,
                        type: "error",
                        closeOnConfirm: false,
                        confirmButtonColor: "#DD6B55",   
                        confirmButtonText: "{{ 'ACCEPT' | trans }}", 
                    })
                }
            }); 
        });
    }
    $(function(){
        $('button.btn-approve').on('click',function (){
            swal({   
                title: "Atención",   
                text: "¿Está seguro que desea habilitar este cliente?",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Sí, habilitar",   
                cancelButtonText: "{{ messages.delete.confirmCancelText }}",   
                closeOnConfirm: true 
            }, function(){
                $(".preloader").fadeIn();
                $.post("{{ path('apachecms_backend_customers_approve',{ id: entity.id })}}", {}, function (result) {
                    if (result.response == true) {
                        location.reload();
                    }else{
                        $(".preloader").fadeOut();
                        $.toast({
                            heading: '{{ messages.result.error.title }}',
                            text: '{{ messages.result.error.text }}',
                            position: 'top-right',
                            icon: '{{ messages.result.error.icon }}',
                            hideAfter: 1000, 
                            stack: 6
                        });
                    }
                }); 
            });
        });
        $('button.btn-refuse').on('click',function (){
           $('#modalReject').modal('show');
        });
    });
    function sendReject(){
        $(".preloader").fadeIn();
        $.post("{{ path('apachecms_backend_customers_reject',{ id: entity.id })}}", {
                'reason_for_rejection':$('#reason_for_rejection').val()
            }, function (result) {
            if (result.response == true) {
                location.reload();
            }else{
                $(".preloader").fadeOut();
                $.toast({
                    heading: '{{ messages.result.error.title }}',
                    text: '{{ messages.result.error.text }}',
                    position: 'top-right',
                    icon: '{{ messages.result.error.icon }}',
                    hideAfter: 1000, 
                    stack: 6
                });
            }
        });
        
    }
    function openChats(id){
        $('#result').html('');
        var url='{{ path('apachecms_backend_landings_load_chats',{ id: 'ENTITY_ID'})}}';
        $.post(url.replace('ENTITY_ID',id), {}, function (result) {
            $('#result').html(result);
        });
        $('#modalChats').modal('show');
    }
</script>
{% endblock javascripts %}
