{% extends "ApachecmsBackendBundle::Emails/layout.html.twig" %}
{% block body %}
<h3>{{ h3  }}</h3>
<p>{{ message | nl2br }}</p>
{% if link %}
<p><a href="{{ app.request.getSchemeAndHttpHost() }}{{ link }}">{{ app.request.getSchemeAndHttpHost() }}{{ link }}</a></p>
{% endif %}
{% endblock %}