<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <link href="{{ asset('bundles/apachecmsfrontend/')}}img/favicon.ico" rel="icon">
    <link href="{{ asset('bundles/apachecmsfrontend/')}}img/apple-icon.png" rel="apple-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link href="{{ asset('bundles/apachecmsfrontend/')}}lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ asset('bundles/apachecmsfrontend/')}}css/style_lp.css" rel="stylesheet">
</head>
<body class="fix-header card-no-border fix-sidebar">
    {{ include('ApachecmsFrontendBundle::_partials/brand.html.twig') }}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="{{ path('apachecms_frontend_dashboard')}}" >{{ 'home' | trans }}</a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="container" id="login">
        <div class="text-center">
            <h1 class='login'>Error {{status_code}}</h1>
            <h6 >{{ exception.message|nl2br|format_file_from_text }}</h6>
        </div>
    </div>
    {{ include('ApachecmsFrontendBundle::footer.html.twig') }}
    <script src="{{ asset('bundles/apachecmsfrontend/')}}lib/jquery/jquery.min.js"></script>
    <script src="{{ asset('bundles/apachecmsfrontend/')}}lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>