{% extends "ApachecmsFrontendBundle::layout_lp.html.twig" %}
{% block stylesheet %} 
{{ parent() }}
{% endblock %}
{% block body %}
{{ include('ApachecmsFrontendBundle::_partials/brand.html.twig') }}
{% block headerPage %}
{% include 'ApachecmsFrontendBundle:_partials:breadcrumbs.html.twig' with { 'title_entity': entity.title } %}
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{ include('ApachecmsFrontendBundle::Stats/_partials/menu.html.twig') }}
        </div>
        <div class="col-md-9">
            <div class="card">
                <h2 class="card-header">
                    {{ (app.request.attributes.get('_route_params')['_breadcrumbs']|last)['label'] | trans }}
                </h2>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="device" style="margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %} 
{{ parent() }}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
var statsByDevice= JSON.parse('{{ statsByDevice | raw }}'); 
Highcharts.setOptions({
    colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    })
});

Highcharts.chart('device', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Visitas por dispositivos'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.cant}</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                },
                connectorColor: 'silver'
            }
        }
    },
    series: [{
        name: 'Cantidad',
        data: statsByDevice
    }]
});
</script>
{% endblock %}