{% extends "ApachecmsFrontendBundle::layout_lp.html.twig" %}
{% block stylesheet %} 
{{ parent() }}
{% endblock %}
{% block body %}
{{ include('ApachecmsFrontendBundle::_partials/brand.html.twig') }}
{% block headerPage %}
{% include 'ApachecmsFrontendBundle:_partials:breadcrumbs.html.twig' with { 'title_entity': entity.title } %}
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{ include('ApachecmsFrontendBundle::Stats/_partials/menu.html.twig') }}
        </div>
        <div class="col-md-9">
            <div class="card">
                <h2 class="card-header">
                    {{ (app.request.attributes.get('_route_params')['_breadcrumbs']|last)['label'] | trans }}
                </h2>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="queries_dataTable" class="display nowrap table table-striped table-bordered" cellspacing="0" width="100%"></table>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %} 
{{ parent() }}
<script src="{{ asset('bundles/apachecmsbackend/assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
{% if app.request.locale == 'es' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/locale/es.js"></script>
{% endif %}
<script>
    $.extend( true, $.fn.dataTable.defaults, {
        dom: 'Bfrtip',
        ajax: "{{ path('apachecms_api_queries_getAll',{ 'landing': app.request.get('id') })}}",
        pageLength: 15,
        lengthMenu: [15, 25, 50],
        {% if app.request.locale == 'es' %}
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json'
        },
        {% endif %}
        buttons: [
           { "extend": 'excel', "text":'{{ 'download.excel' | trans }}',"className": 'btn btn-info btn-sm' }
        ],
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            if ( aData.is_read == false ){  
                $('td', nRow).css('font-weight', 'bold');
            }
        }
    });
    $(function () {
        $('#queries_dataTable').DataTable({
            order: [],
            columns: [
                { title:"{{ 'name' | trans }}",data: "contact.name" },
                { 
                    data: "query",
                    targets: 0,
                    title: "{{ 'query' | trans }}",
                    searchable: true,
                    visible: false
                },
                { 
                    data: 'created_at', 
                    title: '{{ 'created_at' | trans }}',
                    render: function (data, type, row) 
                    {
                        var dateMonthAsWord = moment(data).format('DD MMM YYYY HH:mm');
                        if(dateMonthAsWord!='Invalid date'){
                            return dateMonthAsWord;
                        }else{
                            return 'N/A';
                        }
                    }
                },
                {
                    data: 'is_reply',
                    title: '{{ 'is.reply' | trans }}',
                    className: "text-center",
                    render: function (data, type, row) 
                    {
                        if(data==true){
                            return '<i class="fa fa-lg fa-check text-success"></i>';
                        }else{
                            return '<i class="fa fa-lg fa-times text-muted"></i>';
                        }
                    }
                }
            ]
        });
        $('#queries_dataTable').on('click', 'tbody>tr', function () {
            var data = $('#queries_dataTable').DataTable().row($(this)).data();
            var url="{{ path('apachecms_frontend_landing_queries_view',{ id: entity.id,queryId:'QUERY_ID' })}}";
            location.href=url.replace('QUERY_ID',data.id);
        });
    });
</script>
{% endblock %}