<h5><b>{{ 'general.data' | trans }}</b></h5>
<hr>
<div class="row">
    <div class="form-group col-sm-6">
        {{form_label(form.name)}} {{form_widget(form.name)}}
        <small class="form-text text-danger">{{ form_errors(form.name)}}</small>
    </div>
    <div class="form-group col-sm-6">
        {{form_label(form.industry)}} {{form_widget(form.industry)}}
        <small class="form-text text-danger">{{ form_errors(form.industry)}}</small>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6">
        {{form_label(form.brand)}}
        {% if entity is defined and entity.brand %}
        {{form_widget(form.brand,{ attr: { 'data-default-file': web_image('uploads/or/' ~
        entity.brand).resize('600','300') }})}}
        {% else %}
        {{form_widget(form.brand)}}
        {% endif %}
        <small class="form-text text-danger">{{ form_errors(form.brand)}}</small>
    </div>
</div>
<h5><b>{{ 'contact.data' | trans }}</b></h5>
<hr>
<div class="row">
    <div class="form-group col-sm-6">
        {{form_label(form.email)}} {{form_widget(form.email)}}
        <small class="form-text text-danger">{{ form_errors(form.email)}}</small>
    </div>
    <div class="form-group col-sm-6">
        {{form_label(form.phone)}} {{form_widget(form.phone)}}
        <small class="form-text text-danger">{{ form_errors(form.phone)}}</small>
    </div>
    <div class="form-group col-sm-12">
        {{form_label(form.replyEmail)}} {{form_widget(form.replyEmail)}}
        <small class="form-text text-danger">{{ form_errors(form.replyEmail)}}</small>
    </div>
    <div class="form-group col-sm-12">
        {{form_label(form.address)}} {{form_widget(form.address)}}
        <small class="form-text text-danger">{{ form_errors(form.address)}}</small>
    </div>
</div>
<hr>
<input id="pac-input" class="controls form-control"
    autocomplete="new-password" type="text" placeholder="Dirección para el marcador...">
<div id="map" style="height:400px;"></div>
<h5><b>{{ 'social.network' | trans }}</b></h5>
<hr>
<div class="row">
    <div class="form-group col-sm-12">
        {{form_label(form.web)}} {{form_widget(form.web)}}
        <small class="form-text text-danger">{{ form_errors(form.web)}}</small>
    </div>
    <div class="form-group col-sm-12">
        {{form_label(form.facebook)}} {{form_widget(form.facebook)}}
        <small class="form-text text-danger">{{ form_errors(form.facebook)}}</small>
    </div>
    <div class="form-group col-sm-12">
        {{form_label(form.twitter)}} {{form_widget(form.twitter)}}
        <small class="form-text text-danger">{{ form_errors(form.twitter)}}</small>
    </div>
    <div class="form-group col-sm-12">
        {{form_label(form.googlePlus)}} {{form_widget(form.googlePlus)}}
        <small class="form-text text-danger">{{ form_errors(form.googlePlus)}}</small>
    </div>
    <div class="form-group col-sm-12">
        {{form_label(form.instagram)}} {{form_widget(form.instagram)}}
        <small class="form-text text-danger">{{ form_errors(form.instagram)}}</small>
    </div>
    <div class="form-group col-sm-12">
        {{form_label(form.youtube)}} {{form_widget(form.youtube)}}
        <small class="form-text text-danger">{{ form_errors(form.youtube)}}</small>
    </div>
    <div class="form-group col-sm-12">
        {{form_label(form.linkedin)}} {{form_widget(form.linkedin)}}
        <small class="form-text text-danger">{{ form_errors(form.linkedin)}}</small>
    </div>
</div>
{# <div class="row">
    <div class="form-group col-sm-6">
        {{form_label(form.title)}} {{form_widget(form.title)}}
        <small class="form-text text-danger">{{ form_errors(form.title)}}</small>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-12">
        {{form_label(form.description)}} {{form_widget(form.description)}}
        <small class="form-text text-danger">{{ form_errors(form.description)}}</small>
    </div>
</div>
<div class="row hidden">
    <div class="form-group col-sm-6">
        {{form_label(form.title_1)}} {{form_widget(form.title_1)}}
        <small class="form-text text-danger">{{ form_errors(form.title_1)}}</small>
    </div>
    <div class="form-group col-sm-6">
        {{form_label(form.description_1)}} {{form_widget(form.description_1)}}
        <small class="form-text text-danger">{{ form_errors(form.description_1)}}</small>
    </div>
</div>
<div class="row hidden">
    <div class="form-group col-sm-6">
        {{form_label(form.title_2)}} {{form_widget(form.title_2)}}
        <small class="form-text text-danger">{{ form_errors(form.title_2)}}</small>
    </div>
    <div class="form-group col-sm-6">
        {{form_label(form.description_2)}} {{form_widget(form.description_2)}}
        <small class="form-text text-danger">{{ form_errors(form.description_2)}}</small>
    </div>
</div>#}
 