<h5><b>{{ 'show.product.or.service' | trans }}</b>
    <div class="form-group pull-right">
        <span class="switch">
            {{form_widget(form.isProductService)}}
            {{form_label(form.isProductService)}}
        </span>
    </div>
</h5>
<div class="pos" id="grid">
    <div class="row cards">
        <div id="original" style="display:none;" class="form-group {% if entity.gridColumns is null %} col-sm-4 {% else %} {{ entity.gridColumns }}{% endif %}">
            <a href="javascript:void(0)" data-id="" class="fa-stack fa-lg text-danger" style="position: absolute;right: -10px;top: -20px;z-index: 5;">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-remove fa-stack-1x"></i>
            </a>
            <div class="card">
                <input type="file" name="card[picture][]">
                <input type="hidden" class="form-control" name="card[id][]">
                <div class="card-body">
                    <h5 class="card-title">
                        <input class="form-control" name="card[title][]" placeholder="{{ 'card.title' | trans}}">
                    </h5>
                    <p class="card-text">
                        <textarea class="form-control" name="card[description][]" style="resize: none; height:160px;" placeholder="{{ 'card.description' | trans}}"></textarea>
                    </p>
                    <h6 class="card-title">
                        <label>{{ 'card.label' | trans }}</label>
                        <input class="form-control" name="card[label][]" placeholder="card.label" value="+Info">
                    </h6>
                    <label>{{ 'card.action' | trans }}</label>
                    <select name="card[select][]" class="select form-control" onchange="changeLink(this)">
                        <option value="#contacto" selected="selected">{{ 'form.contact' | trans }}</option>
                        <option value="">{{ 'action.url' | trans }}</option>
                    </select>
                    <br/>
                    <h6 class="card-title" style="display:none;" >
                        <input class="form-control" name="card[action][]" placeholder="https://..." value="#contacto">
                    </h6>
                </div>
            </div>
        </div>
        <div id="btn" class="form-group {% if entity.gridColumns is null %} col-sm-4  {% else %} {{ entity.gridColumns }}{% endif %}">
            <div class="card">
                <button onclick="clone(null)" type="button" style="" class="btn btn-lg btn-outline-secondary btn-block">
                    <i class="fa fa-plus" style="font-size: 100px; padding: 40px;"></i>
                    <br/>
                    {{ 'add.card' | trans}}
                </button>
            </div>
        </div>
    </div>
</div>