
<div class="row" >
    <div class="form-group col-sm-6" id="container-business">
            {{form_label(form.business)}}
        <div class="input-group mb-3">
		{% if app.request.get('business_id') %}
		   {{form_widget(form.business, {'value' : app.request.get('business_id') })}}
			{% else %}
  {{form_widget(form.business)}}
{% endif %}
            <div class="input-group-addon" style="border-right: #ccc 1px solid;border-radius: 0 4px 4px 0;">
                 <a href="javascript:createBusiness()">
                    <span class="input-group-text">
                    <i class="fa fa-plus text-info" id="result-ok"></i>
                    </span>
                </a>
            </div>
        </div>
        <small class="form-text text-danger">{{ form_errors(form.business)}}</small>
    </div>
    <div class="form-group col-sm-6">
        {{form_label(form.title)}} {{form_widget(form.title)}}
        <small class="form-text text-danger">{{ form_errors(form.title)}}</small>
        <small class="text-danger" style="display:none;" id="note-change-title">{{ 'note.change.title' | trans }}</small>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="form-group col-sm-12">
                {{form_label(form.description_1)}} {{form_widget(form.description_1)}}
                <small class="form-text text-danger">{{ form_errors(form.description_1)}}</small>
            </div>
            <div class="form-group col-sm-12 options">
                {{form_label(form.description_2)}} {{form_widget(form.description_2)}}
                <small class="form-text text-danger">{{ form_errors(form.description_2)}}</small>
            </div>
            <div class="form-group col-sm-12 options">
                {{form_label(form.description_3)}} {{form_widget(form.description_3)}}
                <small class="form-text text-danger">{{ form_errors(form.description_3)}}</small>
            </div>
            <div class="form-group col-sm-12 options">
                {{form_label(form.description_4)}} {{form_widget(form.description_4)}}
                <small class="form-text text-danger">{{ form_errors(form.description_4)}}</small>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="form-group col-sm-12">
                <h5><b>{{ 'active.ai' | trans }}</b>
                    <div class="form-group pull-right">
                        <span class="switch">
                            {{form_widget(form.isActiveAi)}}
                            {{form_label(form.isActiveAi)}}
                        </span>
                    </div>
                </h5>
                <h6><b>{{ 'what.is.this' | trans }}</b></h6>
                <p>{{ 'description.ai' | trans }}</p>
                <p><i>{{ 'tips.ai' | trans }}</i></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-12">
        {{form_label(form.description)}} {{form_widget(form.description)}}
        <small class="form-text text-danger">{{ form_errors(form.description)}}</small>
    </div>
</div>
